.hr-gradient {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(114, 4, 4, 0.13) 1%, #bababa 50%, rgba(111, 39, 39, 0) 100%)
}

.nav-link {
    transition: color 0.3s;
}

.nav-link:hover {
    color: #17a2b8;
}

.collapse {
    transition: height 8.3s ease;
}

.navbar-collapse.show {
    height: auto;
    transition: height 0.1s ease;

}